#all{
    background-color: #fafafa;
}
/*最上方小灰条盒子开始*/
#header_top{
 	width: 100%;
    height: 35px;
    background: #eeeeee;
    min-width: 1200px;
}
/*灰条左边文字盒子*/
.header_left{
	margin-left: 50px;
	width: auto;
	float: left;
	line-height: 35px;
	position: relative;
}
/*左文字盒子内容*/
.header_left_content{
	margin-left: 10px;
	line-height: 35px;
}
/*内容中超链接*/
.header_a{
	color: #cc0000;
	text-decoration: none;
}
/*灰条右边文字盒子*/
.header_right{
	width: auto;
    float: right;
    text-align: right;
    height: 35px;
    line-height: 35px;
}
/*右盒子文字内容用列表写*/
.header_list{
	float: right;
	color: #747474;
}
/*一个个小盒子装内容*/
.header_rmenu{
	float: left;
    height: 35px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
/*右盒子中的超链接*/
.list_rmenu_a{
	color: #747474;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
    padding-right: 10px;
}
/*小灰条结束*/

/*内容1区开始样式*/
#content_1{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    background: #fff;
}
.c1_img{
    width: 210px;
    float: left;
    position: relative;
    margin-top: 10px;
}
/*内容1区结束样式*/

/*内容2区开始样式*/
#content_2{
    width: 1200px;
    height: 450px;
    margin: auto;
    overflow: hidden;
    background: #fff;
}
.my_shop{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-family: "微软雅黑","宋体";
    background-color: #fafafa;
}
/*.my_shop{
    float: left;
    font-size: 18px;
    font-family: "微软雅黑","宋体";
    text-align: left;
    height: 25px;
    line-height: 25px;
}*/
.red_list{
    line-height: 40px;
    width: 100%;
    height: 40px;
    background-color: #cc0000;
    margin: 10px auto;
    overflow: hidden;
}
.red_1{
    text-indent: 21px;
    width: 500px;
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.red_2{
    float: left;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

/*产品样式*/
.product{
    position: relative;
    width: 1200px;
    margin: 10px auto;
    border: 1px solid #E8E8E8;
}
.product h4 {
    text-align: left;
    height: 24px;
    line-height: 24px;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.dianpu_clj{
    color: #747474;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
}
.product_1{
    width: 1190px;
    padding: 0 0 10px;
    margin: auto;
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}
.real_1{
    float: left;
    padding-top: 20px;
}
.real_2{
    width: 66px;
    margin-left: 30px;
    float: left;
}
.real_2_img{
    line-height: 1.5;
    word-break: break-all;
    width: 64px;
    height: 64px;
    border: 1px solid #fff;
}
.real_3{
    margin-left: 10px;
    line-height: 20px;
    width: 350px;
    overflow: hidden;
    vertical-align: middle;
    float: left;
}
.real_3_p{
    width: 100%;
    text-align: left;
    line-height: 16px;
    margin-bottom: 10px;
    color: #747474;
}
.real_3_div{
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #747474;
}
.real_4{
    width: 150px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.real_4_div{
    font-family: FZLTHJW--圆简体;
}
.real_5{
    width: 120px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.real_5_b1{
    cursor: pointer;
    color: #efefef;
    border: 1px solid #ece9e9;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    color: #666;
    margin: 0;
    padding: 0 2px;
    background: #fff;
    outline: none;
    float: left;
}
.real_5_i1{
    border: 1px solid #ece9e9;
    height: 26px;
    line-height: 26px;
    width: 38px;
    text-align: center;
    color: #666;
    margin: 0;
    padding: 0 2px;
    background: #fff;
    outline: none;
    float: left;
}
.real_5_b2{
    cursor: pointer;
    border: 1px solid #ece9e9;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    color: #666;
    margin: 0;
    padding: 0 2px;
    background: #fff;
    outline: none;
}
.real_5_div{
    text-align: center;
    text-indent: 0;
    min-height: 30px;
    line-height: 20px;
    width: 98px;
    margin-top: 35px;
}
.real_5_span{
    text-align: center;
    text-indent: 0;
}
.real_6{
    width: 120px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.real_7{
    width: 100px;
    display: block;
    text-align: center;
    margin-left: 30px;
    position: relative;
    float: left;
}
.real_7_a{
    color: #747474;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
}
.real_7_a:hover{
    color: red;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
}
/*内容2区结束样式*/

/*服务区开始*/
#official{
    width: 1200px;
    height: 353px;
    margin: 0 auto;
    padding: 0;
    /*background-color: yellow;*/
    /*padding: 37px 90px 0 150px;*/
    }
    .word{
        width: 1200px;
        height: 201px;
        margin: 0px auto;
        /*margin-left: 50px;*/
        background: #fff;
        border-top: 1px solid #e2e2e2;
        overflow: hidden;
        padding-top: 37px;
    }
    #official li {
        width: 135px;
        float: left;
        line-height: 26px;
        display: list-item;
        
    }
    #official li dt{
        width: 150px;
        margin: auto;
        color: #525252;
        height: 35px;
        line-height: 35px;
        font-family: Microsoft Yahei, Arial;
        font-size: 14px;
        font-weight: bold;
    }
    #official li dd{
        width: 150px;
        margin: auto;
        color: #525252;
    }
    #official li dd a{
        color: #b2b2b2;
        font-size: 12px;
        outline: none;
        text-decoration: none;
        word-wrap: break-word;
    }
    .foot{
        width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 66px 0 30px 21px;
        box-sizing: border-box;
    }